MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=app_db

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=
MONGO_DB=blog_db

API_MYSQL_HOST=db_mysql
API_MYSQL_PORT=3306
API_MYSQL_DATABASE=app_db
API_MYSQL_USER=root
API_MYSQL_PASSWORD=change_me
API_MONGO_DB=blog_db
API_MONGO_URI=mongodb://admin:change_me@db_mongo:27017/admin
